form.row.form-horizontal(novalidate name="$ctrl.form" ng-switch="$ctrl.selected")
  .form-group
    label.col-xs-3 Alternativ-Hypothese
    .col-xs-9
      label.radio-inline
        input(type="radio" name="alternative" ng-model="$ctrl.alternative" value="lt")
        |  gerichtet (links)
      label.radio-inline
        input(type="radio" name="alternative" ng-model="$ctrl.alternative" value="ne")
        |  ungerichtet
      label.radio-inline
        input(type="radio" name="alternative" ng-model="$ctrl.alternative" value="gt")
        |  gerichtet (rechts)
      .help-block(ng-switch="$ctrl.alternative")
        p(ng-switch-when="lt") Der wahre Mittelwert von Gruppe 1 ist kleiner als der von Gruppe 2 (Differenz <span latex="\overline{X}_D < 0"></span>).
        p(ng-switch-when="ne") Der wahre Mittelwert von Gruppe 1 ist ungleich dem von Gruppe 2 (Differenz <span latex="\overline{X}_D \neq 0"></span>).
        p(ng-switch-when="gt") Der wahre Mittelwert von Gruppe 1 ist größer als der von Gruppe 2 (Differenz <span latex="\overline{X}_D > 0"></span>).
  .form-group
    label.col-xs-3 Signifikanzniveau (<span latex="\alpha"></span>)
    .col-xs-9
      label.radio-inline
        input(type="radio" name="alpha" ng-model="$ctrl.alpha" ng-value="0.05")
        |  5%
      label.radio-inline
        input(type="radio" name="alpha" ng-model="$ctrl.alpha" ng-value="0.01")
        |  1%
      label.radio-inline
        input(type="radio" name="alpha" ng-model="$ctrl.alpha" ng-value="0.001")
        |  0.1%
      .help-block(ng-switch="$ctrl.alternative")
        div(ng-switch-default latex="p <= {{$ctrl.alpha}}")
        div(ng-switch-when="ne" latex="p <= {{$ctrl.alpha/2}}")
  fieldset.col-xs-6(ng-switch-default math-jax)
    legend Gruppe 1
    .form-group
      label.col-xs-6.control-label(for="m1" latex="\\overline{X}_1")
      .col-xs-6
        input.form-control#m1(type="number" required name="m1" ng-model="$ctrl.data.m1" title="Mittelwert der ersten Gruppe")
    .form-group
      label.col-xs-6.control-label(for="n1") $n_1$
      .col-xs-6
        input.form-control#n1(type="number" required name="n1" ng-model="$ctrl.data.n1" min="1" title="Umfang der ersten Gruppe")
    .form-group
      label.col-xs-6.control-label(for="s1") $s_1$
      .col-xs-6
        input.form-control#s1(type="number" required name="s1" ng-model="$ctrl.data.s1" min="0" title="Standardabweichung der ersten Gruppe")
  fieldset.col-xs-6(ng-switch-default math-jax)
    legend Gruppe 2
    .form-group
      label.col-xs-6.control-label(for="m2") $\overline{X}_2$
      .col-xs-6
        input.form-control#m2(type="number" required name="m2" ng-model="$ctrl.data.m2" title="Mittelwert der zweiten Gruppe")
    .form-group
      label.col-xs-6.control-label(for="n2") $n_2$
      .col-xs-6
        input.form-control#n2(type="number" required name="n2" ng-model="$ctrl.data.n2" min="1" title="Umfang der zweiten Gruppe")
    .form-group
      label.col-xs-6.control-label(for="s2") $s_2$
      .col-xs-6
        input.form-control#s2(type="number" required name="s2" ng-model="$ctrl.data.s2" min="0" title="Standardabweichung der zweiten Gruppe")
  fieldset.col-xs-6(ng-switch-when="oneSample" math-jax)
    legend Stichprobe
    .form-group
      label.col-xs-6.control-label(for="m") $\overline{X}$
      .col-xs-6
        input.form-control#m(type="number" required name="m" ng-model="$ctrl.data.m" title="Mittelwert der Gruppe")
    .form-group
      label.col-xs-6.control-label(for="n") $n$
      .col-xs-6
        input.form-control#n(type="number" required name="n" ng-model="$ctrl.data.n" min="1" title="Umfang der Stichprobe")
    .form-group
      label.col-xs-6.control-label(for="s") $s$
      .col-xs-6
        input.form-control#s(type="number" required name="s" ng-model="$ctrl.data.s" min="0" title="Standardabweichung der Stichprobe")
    .form-group
      label.col-xs-6.control-label(for="mu") $\mu_0$
      .col-xs-6
        input.form-control#mu(type="number" name="mu" ng-model="$ctrl.data.mu" title="Mittelwert der Vergleichspopulation")
  fieldset.col-xs-6(ng-switch-when="paired" math-jax)
    legend Gepaarte Stichprobe
    .form-group
      label.col-xs-6.control-label(for="m") $\overline{X}_D$
      .col-xs-6
        input.form-control#m(type="number" required name="m" ng-model="$ctrl.data.m" title="Mittlere Differenz der beiden Stichproben")
    .form-group
      label.col-xs-6.control-label(for="n") $n$
      .col-xs-6
        input.form-control#n(type="number" required name="n" ng-model="$ctrl.data.n" min="1" title="Umfang der Stichproben")
    .form-group
      label.col-xs-6.control-label(for="s") $s_D$
      .col-xs-6
        input.form-control#s(type="number" required name="s" ng-model="$ctrl.data.s" min="0")
    .form-group
      label.col-xs-6.control-label(for="mu") $\mu_0$
      .col-xs-6
        input.form-control#mu(type="number" name="mu" ng-model="$ctrl.data.mu")
.row: .col-xs-12
  ul.nav.nav-tabs
    li(ng-class="{'active': $ctrl.selected === 'twoSample'}"): a(href="#" ng-click="$ctrl.select('twoSample')") ungepaarter t-Test
    li(ng-class="{'active': $ctrl.selected === 'paired'}"): a(href="#" ng-click="$ctrl.select('paired')") gepaarter t-Test
    li(ng-class="{'active': $ctrl.selected === 'welch'}"): a(href="#" ng-click="$ctrl.select('welch')") Welch-Test
    li(ng-class="{'active': $ctrl.selected === 'oneSample'}"): a(href="#" ng-click="$ctrl.select('oneSample')") Einstichproben t-Test
.row: .col-xs-12(ng-switch="$ctrl.selected")
  div(ng-switch-when="twoSample" latex="{\\Large {t}} \\;=\\; \\displaystyle\\frac{\\overline{X}_1-\\overline{X}_2}{s_p \\cdot \\sqrt{\\displaystyle\\frac{1}{n_1}+\\frac{1}{n_2}}},\\quad s_p = \\sqrt\\frac{(n_1-1)s^2_1+(n_2-1)s^2_2}{n_1+n_2-2}")
  div(ng-switch-when="paired" latex="t = \\frac{\\overline{X}_D - \\mu_0}{ \\displaystyle\\frac{s_D}{\\sqrt{n}}},\\qquad \\overline{X}_\D = \\frac{1}{n}\\cdot \\sum \\left ( X_1-X_2 \\right ),\\qquad s_D = \\sqrt{ \\frac{ \\sum \\big((X_1-X_2)-\\overline{X}_D\\big)^2 }{n-1} }")
  div(ng-switch-when="welch" latex="{\\Large {t}} \\;=\\; \\displaystyle\\frac{\\overline{X}_1-\\overline{X}_2}{\\sqrt{\\displaystyle\\frac{s_1^2}{n_1}+\\frac{s_2^2}{n_2}}}, \\qquad \\mathrm{df}_\\mathrm{unpooled} = \\frac{\\left ( \\displaystyle\\frac{s_1^2}{n_1}+\\frac{s_2^2}{n_2} \\right )^2}{\\displaystyle\\frac{\\displaystyle\\left (\\frac{s_1^2}{n_1}  \\right )^2}{n_1-1}+\\displaystyle\\frac{\\displaystyle\\left (\\frac{s_2^2}{n_2}  \\right )^2}{n_2-1}}")
  div(ng-switch-when="oneSample" latex="t=\\frac{\\bar{X}-\\mu_0}{ \\displaystyle\\frac{s}{\\sqrt{n}} }")
  hr
h3 Berechnungsergebnis (t-Statistik)
dl.dl-horizontal
  dt
    span(latex="t")
    br
    | (t-Wert)
  dd(ng-bind="$ctrl.stats.t.toFixed(3)")
  dt
    span(latex="\\mathit{df}")
    br
    | (Freiheitsgrade)
  dd(ng-bind="$ctrl.stats.df.toFixed()")
  dt(ng-if="$ctrl.selected === 'twoSample'" math-jax)
    span(latex="s_\\mathrm{p}")
    br
    | (Standardabweichung, gepoolt)
  dd(ng-if="$ctrl.selected === 'twoSample'" ng-bind="$ctrl.stats.sp.toFixed(3)")
  dt
    span(latex="p")
    br
    | (Wahrscheinlichkeit)
  dd(ng-bind="$ctrl.stats.p.toFixed(3)")
h3 Interpretation
