doctype html
html(lang="de" ng-app="calculator" strict-di)
  head
    title T-Test-Rechner
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-aria.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-animate.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.5.2/jstat.min.js")
    script(src="app.js")
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        showProcessingMessages: false
      });
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG")
  body
    calculator.container
